{% extends "base.html" %}

{% block main %}
    <h1>Редактирование профиля</h1>

    <form method="post">
        <div>
            <label for="new_password">Новый пароль:</label>
            <input type="password" id="new_password" name="new_password">
        </div>
        <div>
            <label for="new_name">Новое имя:</label>
            <input type="text" id="new_name" name="new_name">
        </div>
        <div>{{ error }}</div>
        <div>
            <button type="submit">Сохранить изменения</button>
        </div>
    </form>
{% endblock %}