img {
    width: 500px;          /* Ширина изображения */
    height: auto;          /* Автоматическое изменение высоты, чтобы сохранить пропорции */
    border: 2px solid black; /* Чёрная рамка толщиной 2px */
    display: block;       /* Изображение отображается как блок */
    margin: 20px auto;     /* Отступы сверху и снизу по 20px и центрирование по горизонтали */
    box-shadow: 10px 10px 20px black; /* Тень вокруг картинки */
    border-radius: 10px;   /* Закруглённые углы */
}
