{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon-32x32.png') }}">
{% endblock %}

{% block script %}

{% endblock %}

{% block main %}
    <h1>Поздравления</h1>
{% endblock %}