{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <body>
        <h1>Отфильтрованные книги</h1>
        <ul>
            {% for book in books %}
                <li>
                    <strong>{{ book.title }}</strong> автора {{ book.author }} - {{ book.genre }} - {{ book.price }} руб.
                </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('lab3.filter_books') }}">Вернуться к фильтру</a>
    </body>
{% endblock %}