<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Плюснина Елизавета. {% block lab %} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{url_for('static', filename='favicon-16x16.png')}}">
    <link rel="icon" href="{{url_for('static', filename='favicon-32x32.png')}}">
</head>
<body>
    <header>
        WEB-программирование, 2 часть. {{ self.lab() }}
    </header>
    
    <main>
        {% block main %} {% endblock %}
        
        <p>Цветок: {{ flower_name }}</p>
        <p>Цена: {{ flower_price }} руб.</p>
        <a href="/lab2/all_flowers">Ссылка на страницу вывода всех цветов</a>

    </main>

    <footer>
        &copy; Плюснина Елизавета, ФБИ-22, 3 курс, 2024
    </footer>

</body>
</html>