{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon-32x32.png') }}">
{% endblock %}

{% block main %}
    <h1>Редактирование статьи</h1>
    <form action="/lab8/edit_article/{{ article.id }}" method="post">
        <div>
            <label>
                Заголовок: <input type="text" name="title" value="{{ article.title }}">
            </label>
        </div>

        <div>
            <label>
                Текст статьи: <textarea name="article_text">{{ article.article_text }}</textarea>
            </label>
        </div>

        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        
        <button type="submit">Сохранить изменения</button>
    </form>
{% endblock %}